.main-home{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 200px 100px 0px 100px;
}

.main-home>marquee{
    font-family: 'Titillium Web', sans-serif;
    font-size: 100px;
}

.loader {
    margin-left: 50%;
    margin-top: 100px;
}

.main-explore{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 80px 100px 0px 100px;
}

.loader-no-images{
    margin-top: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 50px;
    color: #6B6B6B;
    text-align: center;
}