.search{
    display: flex;
    flex-direction: row;
}

.btnSearch{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border: none;
    margin-right: 40px;
    background: #6B6B6B;
}

.btnSearch:hover{
    background: #B3B3B3;
}

.btnSearch:active{
    background: #B3B3B3;
}

.search-input>input{
    width: 400px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    height: 40px;
    font-size: 18px;
    padding: 8px;
    border: none;
}

.sort {
    display: flex;
    flex-direction: row;
    background-color: #9A9A9A;
    background-blend-mode: multiply;
    align-items: center;
    margin-right: 75px;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: large;
}

.btnSort{
    border-radius: 7px;
    border: none;
    height: 40px;
    width: 70px;
    background: #6B6B6B;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    font-size: medium;
}
